body{
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

header{
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  background-color: #8F8C88;
  padding: 25px;
}

header button{
  position: relative;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  justify-self: end;
  margin-right: 50px;
}

h1{
  color: rgb(255, 255, 255);
  margin: 0px;
  text-align: center;
}

h2{
  margin: 0px;
  text-align: center;
  font-size: 18px;
}

input{
  background-color: rgb(255, 228, 196);
  border: 5px solid #FFEEDA;
  border-radius: 8px;
  padding: 3px;
}

header .fa-plus{
  position: absolute;
  top: 2px;
  right: 2px;
  color: #8F8C88;
  background-color: white;
  padding: 1px;
  font-size: 12px;
  border-radius: 50%;
}

.library{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin-top: 15px;
}

.book{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 228, 196);
  margin: 10px;
  border: 5px solid #FFEEDA;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.author{
  text-align: center;
}

.read{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFEEDA;
  width: 100%;
  margin-top: 0px;
  text-align: center;
  padding: 10px 0px;
  cursor: pointer;
}

.pages{
  text-align: center;
  margin-top: 0px;
}

.fa-check-circle{
  color: green;
  background-color: white;
  border-radius: 50%;
  font-size: 22px;
  margin-left: 5px;
}

.fa-times-circle{
  color: red;
  background-color: white;
  border-radius: 50%;
  font-size: 22px;
  margin-left: 5px;
}

.delete-book{
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 5px 0px;
}

.delete-book:hover{
  cursor: pointer;
  background-color: rgb(255, 100, 100);
}

.modal-bg{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.51);
}

.modal{
  position: relative;
  background-color: #8F8C88;
  color: white;
  padding: 25px 50px;
  width: 50%;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.close-btn{
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  color: white;
  font-size: 20px;
}

.field:not(:nth-last-child(2)){
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.field:nth-last-child(2){
  margin-top: 20px;
}

.create-book{
  border-radius: 50px;
  border: none;
  background-color: #FFEEDA;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 20px;
  color: #8F8C88;
}

.hidden{
  display: none;
}